* {
    color: white;
}

body {
    background: url(img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}

.row2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -11px;
    /*margin-left: -15px;*/
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.jumbotron2 {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    width: 31.3%;
}

@media only screen and (max-width: 1080px) {

    /* Para Móviles/Tablets: */
    [class*="jumbotron2"] {
        width: 100%;
        margin-left: 2.5rem;
        margin-right: 0;
    }
}

.margin-left {
    margin-left: .45rem;
}

@media only screen and (max-width: 1080px) {

    /* Para Móviles/Tablets: */
    [class*="margin-left"] {
        margin-left: 1rem;
    }
}

.margin-left-2 {
    margin-left: .6rem;
}

@media only screen and (max-width: 1080px) {

    /* Para Móviles/Tablets: */
    [class*="margin-left-2"] {
        margin-left: 2.5rem;
    }
}

@media only screen and (max-width: 1080px) {

    /* Para Móviles/Tablets: */
    [class*="col-md-8-2"] {
        width: 100%;
        margin-left: 1.5rem;
        margin-right: 0;
    }
}

@media only screen and (max-width: 1080px) {

    /* Para Móviles/Tablets: */
    [class*="row2"] {
        width: 100%;
        margin-left: -15px;
    }

}

.form {
    /*width: 378px;*/
    width: 75%;
    height: 50px;
}

@media only screen and (max-width: 1080px) {

    [class*="form"] {
        width: 100%;
    }

}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

#precio {
    color: blue;
}

.invisible {
    color: transparent;
}

#linea {
    display: none;
}

[id*="semi-transparente"] {
    background-color: rgba(255, 255, 255, 0.8);
}

[id*="semi-transparente solido"] {
    margin-top: 9.5%;
    padding-top: 4%;
    padding-bottom: 14%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
}

[id*="principal"] {
    display: block;
    padding-top: 35px;
    padding-bottom: 40px;
    margin-top: 0px;
    scroll-margin-bottom: 5%;
}

#secundario {
    display: none;
}

@media only screen and (max-width: 1080px) {

    [id*="principal"] {
        display: none;
    }

    #linea {
        display: block;
    }

    #secundario {
        display: block;
    }

    #terciario {
        float: none;
    }

    [class*=alineadorCentro] {
        height: 0px;
    }

    [id*="semi-transparente solido"] {
        margin-top: 0%;
        padding-top: 3%;
        margin-bottom: 0%;
        background-color: #f8f9fa;
    }
}

.modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal2 {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal3 {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal4 {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal5 {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal6 {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.button {
    cursor: pointer;
}

@media only screen and (min-width: 1080px) {

    /* Para Móviles/Tablets: */
    [class*="jumbotron-2"] {
        width: 100%;
    }
}

#formulario {
    border: 1px solid grey;
}

#invertir-color {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#navbar2 {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 6;
}

[class*=flotante] {
    float: right;
    position: sticky;
    position: -webkit-sticky;
    top: 4%;
    z-index: 6;
}

[class*=alineadorCentro] {
    height: 27px;
}

[class*=alineadorLateral] {
    height: 60px;
}

#navbar-expand-lg2 {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 6;
}

@media (min-width: 1081px) {
    .navbar-expand-xl {
        -ms-flex-flow: row nowrap!important;
        flex-flow: row nowrap!important;
        -ms-flex-pack: start!important;
        justify-content: flex-start!important
    }

    .navbar-expand-xl .navbar-nav {
        -ms-flex-direction: row!important;
        flex-direction: row!important
    }

    .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute!important
    }

    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: .5rem!important;
        padding-left: .5rem!important
    }

    .navbar-expand-xl>.container,
    .navbar-expand-xl>.container-fluid {
        -ms-flex-wrap: nowrap!important;
        flex-wrap: nowrap!important
    }

    .navbar-expand-xl .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important
    }

    .navbar-expand-xl .navbar-toggler {
        display: none!important
    }
}